@import "reset.css";
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
.land {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  height: 100%;
  background-color: white;
  border: 2px solid mediumturquoise;
}
.playlist {
  display: flex;
  justify-content: space-between;
}
.playlist span {
  margin-left: 10px;
}

.landscape {
  width: 50px;
  height: 50px;
  background-color: goldenrod;
  border: 1px solid black;
  border-radius: 3px;
}
.fa-image {
  color: honeydew;
}
.icons {
  display: flex;
  justify-content: space-between;
}
.realicon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-bottom: 3px;
  height: 20px;
  width: 20px;
}
